.content{
  height: 200px;
    border:1px solid #101552;
}
mark{
    font-size: 25px;
    background: rgb(209, 212, 206);
}
.orderSection h2{
    font-size: 32px;
}
.orderSection .btn-info{
    font-size: 24px;
    color:#173460;
    height: 60px;
    text-align: center;
    width:350px;
    line-height: 40px;
    background:#98bcf1;
}
.orderSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}
.OurPortofolio .circle {
    height: 100px;
    width: 100px;
    top: 20px;
    position: relative;
    padding: 30px;
    margin-top: 200px;
    border-radius: 50%;
    background: #e9d204;
    border: none;
}
.OurPortofolio .circle:hover{
    background: #e7cd78;

}