@media (max-width: 992px) { 
.navbar-toggler {
      background-color:#7fabec;
  
    
}
section .btn-info{
     font-size: 14px;
     padding:10px 10px;
     width: 150px;
      
  }
 .valueSection h1{
      font-size: 15px;
  
  }
  .productSection h2{
      font-size: 20px;
  
  }


}