@media (max-width: 992px) { 
.navbar-toggler {
      background-color:#7fabec;
  
    
}
.section  h2{
  font-size:25px;
  color:#c91c72;
  font-weight: bold;
}
.slider .carousel-item img{
  height: 16rem;
}
.slider .btn-info{
  font-size: 14px;
 width: 150px;
 border-radius:20px;
 background:#173460;
 padding:10px 15px;

}
 .valueSection h1{
      font-size: 30px;
  
  }
  .valueSection .circle {
    height: 80px;
    width:80px;
    padding:25px 20px;
}
.ServicesSection h3 {
  font-size: 20px;
 
}
.ServicesSection p {
  font-size: 14px;
}
.ServicesSection svg{
  width:100px;
  height: 100px;
}
.productSection h3{
      font-size: 16px;
      color:#173460;
      font-weight: bold;
  
  }
.productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size:13px;
    padding:10px 10px;

}
.productSection .row .row1{
  margin-top:20px;
}
.TestamonialSection .triangle{
	width: 100px;
	height: 100px;
  padding: 50px 30px;
    
}

.TestamonialSection h3{
        font-size:16px;
}
.OrderPriceSection .btn-info{
  font-size: 18px;
  color:#173460;
  height: 50px;
  text-align: center;
  width:200px;
  line-height: 35px;
}
.QuestionsSection .btn-info{
  font-size: 18px;
  color:#173460;
  height: 50px;
  text-align: center;
  width:200px;
  line-height: 35px;
}

.OurPortofolio .circle {
  height: 70px;
  width: 70px;
  padding: 10px;
 }
 .OurPortofolio .circle img{
  height: 20px;
  width: 20px;
 }
 .SuccessSection .carousel-item img {
  height: 12rem;
}
.ArticlesSection .row1{
  margin-top:20px;

}
.ArticlesSection .square{
margin-right: 100px;
height: 100px;
width: 150px;
text-align: center;
}
.contactNumber .rectangle{
  font-size: 14px;
  padding: 2px 5px;
  border:1px solid #173460;
  color: #fd16a4;
}

.contactNumber h3{
  font-size:14px;
  color:#173460;
  font-weight: bold;
}
.pictureSystem .row .row1{
  margin-top: 20px;
}
.priceSection .row1{
  margin-top: 20px;

}
.footerSection h2 {
  font-size: 16px;
  color: #fff;
}
.footerSection ul li a {
  font-size: 13px;
}

.footerSection .rectangle{
  font-size: 20px;
  padding:5px 10px;
  border:1px solid #fff;
  color: #fff;
  margin-left: 10px;
}
.footerSection .rectangle:hover{
  color:#98bcf1;
}
.designSection h3  {
  font-size:18px;
  color:#173460;
  font-weight: bold;

}
.designSection p {
  font-size:20px;
  color:#5f97ec;

}

}