@media (max-width: 992px) { 
.navbar-toggler {
      background-color:#7fabec;
  
    
}
section .btn-info{
     font-size: 14px;
     padding:10px 10px;
     width: 150px;
      
  }
 .valueSection h1{
      font-size: 15px;
  
  }
  .productSection{
    width: 100%;
    height:500px;

}
.productSection h2{
      font-size: 30px;
  
  }
.productSection h3{
      font-size: 16px;
      color:#173460;
      font-weight: bold;
  
  }

  .productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size:13px;
    padding:10px 10px;

}
.productSection .row .row1{
  margin-top:20px;
}


}