body{
    direction:rtl;
    color: black;
    font-family: 'Almarai', sans-serif

}
header{
    background:#173460;

}

header a{
    font-size:16px;
    color:#ffff;
}

header a:hover{
    text-decoration: none;
    color: rgb(102, 121, 233);
}
.bg-dark {
    background-color: rgb(149, 203, 235)!important;
}
.navbar-dark .navbar-nav .nav-link {
    color:#ffff;
    font-size: 18px;
    color:#173460; 
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(102, 121, 233);
}
section .btn-info{
    font-size: 20px;
    color: #ffff;
   padding:15px 20px;
   width: 300px;
   border-radius:20px;
   border: none;
   outline: none;
   background:#173460;
 
}
section .btn-info:hover{
    background: #ffff;
    color:#173460;
    outline: none;
 
}
.valueSection{
    width: 100%;
    height:200px;

}
.valueSection h1{
    font-size: 40px;
    color:#173460;
    font-weight: bold;

}
.valueSection .circle {
    height: 100px;
    width:100px;
    padding:35px 30px;
    border-radius:50%;
    background:#c5d6f0;
    border:none;
}

.productSection{
    width: 100%;
    height:auto;

}
.productSection h2{
    font-size: 40px;
    color:#173460;
    font-weight: bold;
}
.productSection h3{
    font-size:22px;
    color:#173460;
    font-weight: bold;

}

.productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size:14px;
    padding:15px 15px;
    border-radius:30px;
    outline: none;
    border: none;

}
.productSection .btn-secondary:hover{
    background: #fff;
    color:#173460;
    border:1px solid #176038;


}
.ServicesSection{
    width: 100%;
    height:auto;

}
.ServicesSection h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;

}
.ServicesSection h3{
    font-size:22px;
    color:#173460;
    font-weight: bold;
}
.ServicesSection p{
    font-size:16px;
}
.TestamonialSection{
    width: 100%;
    height:auto;
}
.TestamonialSection h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}
.TestamonialSection .triangle{
	width: 150px;
	height: 150px;
    display: inline-block;
    background: #c5d6f0;
    padding: 75px 30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

.TestamonialSection h3{
        font-size:22px;
        color:#173460;
        font-weight: bold;
}
.OrderPriceSection{
    width: 100%;
    height:auto;
}
.OrderPriceSection h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}
.OrderPriceSection .btn-info{
    font-size: 24px;
    color:#173460;
    height: 70px;
    text-align: center;
    width:350px;
    line-height: 50px;
    border-radius: 50px;
    background:#98bcf1;
}
.OrderPriceSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}

.SuccessSection h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}
.SuccessSection .carousel-item img{
    height: 18rem;
}
.SuccessSection .carousel-indicators {
    bottom: 100px;
    left:100px;
}
.SuccessSection .circle {
    height:140px;
    width:140px;
    padding: 35px;
    border-radius:50%;
    background:#b7ebe4;
    border:none;
}
.QuestionsSection{
    width: 100%;
    height:auto;
}
.QuestionsSection h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}
.QuestionsSection .btn-info{
    font-size: 24px;
    color:#173460;
    height: 60px;
    text-align: center;
    width:350px;
    line-height: 40px;
    border-radius: 50px;
    background:#98bcf1;
}
.QuestionsSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}
.OurPortofolio{
    width: 100%;
    height:auto;
}
.OurPortofolio  h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}

    




