body{
    direction:rtl;
    color: black;
    font-family: 'Almarai', sans-serif;

}
header{
    background:#173460;

}

header a{
    font-size:16px;
    color:#ffff;
}

header a:hover{
    text-decoration: none;
    color: rgb(102, 121, 233);
}
.bg-dark {
    background-color: rgb(149, 203, 235)!important;
}
.navbar-dark .navbar-nav .nav-link {
    color:#ffff;
    font-size: 18px;
    color:#173460; 
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(102, 121, 233);
}
.navbar-nav{
    display :flex;
	margin:0 auto;
}
.slider .carousel-item img {
    height: 32rem;
}
.slider .btn-info{
    font-size: 20px;
    color: #ffff;
   padding:15px 20px;
   width: 300px;
   border-radius:20px;
   border: none;
   outline: none;
   background:#173460;
 
}
.slider .btn-info:hover{
    background: #ffff;
    color:#173460;
    outline: none;
 
}
.section{
    height: auto;
    width: 100%
}
.section  h2{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;
}

.valueSection h1{
    font-size: 40px;
    color:#c91c72;
    font-weight: bold;

}
.valueSection .circle {
    height: 100px;
    width:100px;
    padding:35px 30px;
    border-radius:50%;
    background:#c5d6f0;
    border:none;
}

.productSection h3{
    font-size:22px;
    color:#173460;
    font-weight: bold;

}

.productSection .btn-secondary {
    color: #fff;
    background-color: #173460;
    font-size:14px;
    padding:15px 15px;
    border-radius:30px;
    outline: none;
    border: none;

}
.productSection .btn-secondary:hover{
    background: #fff;
    color:#173460;
    border:1px solid #176038;


}

.ServicesSection h3{
    font-size:22px;
    color:#173460;
    font-weight: bold;
}
.ServicesSection p{
    font-size:16px;
}

.TestamonialSection .triangle{
	width: 150px;
	height: 150px;
    display: inline-block;
    background: #c5d6f0;
    padding: 75px 30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

.TestamonialSection h3{
        font-size:22px;
        color:#173460;
        font-weight: bold;
}

.OrderPriceSection .btn-info{
    font-size: 24px;
    color:#173460;
    height: 70px;
    text-align: center;
    width:350px;
    line-height: 50px;
    border-radius: 50px;
    background:#98bcf1;
}
.OrderPriceSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}



.QuestionsSection .btn-info{
    font-size: 24px;
    color:#173460;
    height: 60px;
    text-align: center;
    width:350px;
    line-height: 40px;
    background:#98bcf1;
}
.QuestionsSection .btn-info:hover{
  text-decoration: none;
  color:#aa6f9b;
  outline: none;
  border: none;
}

.OurPortofolio .circle {
    height:140px;
    width:140px;
    padding: 30px;
    border-radius:50%;
    background:#f5eda6;
    border:none;
}

.ArticlesSection .square{
    height:200px;
    width:300px;
    padding: 30px;
    border:1px solid #173460;
}
.contactNumber .rectangle{
    font-size: 30px;
    padding: 5px 15px;
    border:1px solid #173460;
    color: #fd16a4;
}

.contactNumber h3{
    font-size:20px;
    color:#173460;
    font-weight: bold;
}

/*start footer*/
.footerSection{
    padding: 70px 0px;
    background-color: #173460;
    height: auto;
    width: 100%;
}
.footerSection h2{
    font-size: 24px;
    color: #fff;
}
.footerSection ul li a{
    color: #98a0aa;
    padding-top: 8px;
     text-decoration: none;
     transition-duration: 0.3s;
     display: inline-block;
     font-size: 15px
}
.footerSection ul li a:hover{
    color: #fff;
    transition-duration: 0.3s
}
.footerSection .rectangle{
    font-size: 30px;
    padding:10px 15px;
    border:1px solid #fff;
    color: #fff;
    margin-left: 10px;
}
.footerSection .rectangle:hover{
    color:#98bcf1;
}

.footerSection .subscribeInput{
    border-radius: 6px;
    height: 50px;
    background: #f8f8f8;
    border:0px;
    padding: 0px 30px 0px 35px;
}
.footerSection .subscribeForm{
    position: relative;
}
.footerSection .subscribeBtn{
    border-radius: 6px;
    position: absolute;
    height: 50px;
    width: 100px;
    color: white;
    border: 0px;
    right: 220px;
    top: 0px;
    background:#55c0f1;
}
.priceSection h5{
    font-size: 24px;
    font-weight: bold;
    columns: #173460;
}
.priceSection .btn-primary{
    background: crimson;
    border: none;
    border-radius: 6px;
    outline: none;
}
.priceSection .btn-primary:hover{
    background: rgb(219, 70, 100);
    
}
.priceSection .card{
border: 1px solid #173460;
}
 


    




